- if signed_in?
  .row
    %aside.span4
      %section= render 'shared/player_info'
      %section= render 'shared/availability_form'
    .span4
      %h3 Availabilities
      = render 'shared/availability_feed'
    .span4
      %h3 Games
      = render 'shared/game_feed'
- else
  .center.hero-unit
    %h1 Push Pickup

    %h2 
      Give your availabilties for pickup 
      <a href='http://en.wikipedia.org/wiki/Ultimate_(sport)'>ultimate</a>. 
      Get an email when your game is on.

    = link_to 'Sign up now!', signup_path, class: 'btn btn-large btn-primary'

  -#= link_to image_tag('rails.png', alt: 'Rails'), 'http://rubyonrails.org/'
