%h4 Add an availability
= form_for(@availability) do |f|
  = render 'shared/error_messages', object: f.object

  = f.label :day, 'on'
  .input-medium.field= f.select :day, options_for_select(@availability.start_day_options, selected: @availability.day)

  = f.label :hour_and_minute, 'starting at'
  .input-small.field= f.select :hour_and_minute, 
    options_for_select(@availability.start_hour_and_minute_options, 
    selected: @availability.hour_and_minute || @availability.soonest_start_time)

  = f.label :duration_in_sec, 'for' 
  .input-medium.field= f.select :duration_in_sec, 
    options_for_select(@availability.duration_options, selected: @availability.duration_in_sec)

  -#= hidden_field_tag "availability[field_ids][]", nil
  -# Display checkboxes for fields of current player if signed in, plus field shown if on a field show page.
  - if signed_in?
    - current_player.fields.to_a.concat(Field.find(@availability.field_ids)).push(@field).uniq.select{|field| !field.nil?}.each do |field|
      .checkbox
        = check_box_tag "availability[field_ids][]", field.id, 
          @availability.field_ids.include?(field.id), id: dom_id(field)
        = label_tag dom_id(field), link_to(field.name, field)
  - elsif @field 
    .checkbox
      = check_box_tag "availability[field_ids][]", @field.id, 
        @availability.field_ids.include?(@field.id), id: dom_id(@field)
      = label_tag dom_id(@field), link_to(@field.name, @field)

  .field= f.submit 'Add fields', name: 'add_fields', class: 'btn btn-info'
  .field= f.submit 'Post', 
    class: ('btn btn-large ' + (signed_in? && current_player.fields.blank? && @field.nil? ? 'btn-danger' : 'btn-primary'))

  - if signed_in? && current_player.admin?
    .checkbox
      = check_box_tag 'unavailability', 'yes'
      = label_tag 'unavailability', 'Unavailability?'
    = label_tag 'why_not_open', 'Why?'
    .input-medium.field= text_field_tag 'why_not_open'

