%li{class: 'availability_feed_item', id: 'availability_' + feed_item.id.to_s }
  .feed_item_icon.progress
    .bar{class: "#{bar_type}", style: "width: #{[feed_item.duration, 100].min}%;"}
  %span.fields
    = feed_item.fields.map{|f| link_to(f.name, f)}.to_sentence(two_words_connector: ' or ', last_word_connector: ', or ').html_safe
  %span.start_time= feed_item.start_time.to_s(:weekday_and_ordinal)
  %span.duration for #{distance_of_time_in_words(feed_item.start_time, feed_item.start_time + feed_item.duration.minutes)}
  - if !open
    = "#{feed_item.fieldslots.first.why_not_open}"
  - if current_player?(feed_item.player)
    = link_to 'delete', feed_item, method: :delete,
                                   data: { confirm: 'You sure?' },
                                   title: feed_item.start_time.to_s(:weekday_and_ordinal)
