= form_for(@availability) do |f|
  = render 'shared/error_messages', object: f.object

  = f.label :start_time
  .field= f.text_field :start_time, placeholder: 'tuesday 5pm'

  = f.label :duration 
  .field= f.text_field :duration, placeholder: '2 hours'

  .field.field_options
    = hidden_field_tag "availability[field_ids][]", nil
    - current_player.fields.uniq.each do |field|
      %div
        = check_box_tag "availability[field_ids][]", field.id, 
                      @availability.field_ids.include?(field.id), id: dom_id(field)
        = label_tag dom_id(field), field.name

  .field= f.submit 'Add fields', name: 'add_fields', class: 'btn btn-success'
  .field= f.submit 'Post', class: ('btn btn-large ' + (current_player.fields.blank? ? 'btn-danger' : 'btn-primary'))
