%li{id: feed_item.id }
  = link_to gravatar_for(feed_item.player), feed_item.player
  %span.fields
    = feed_item.fields.map(&:name).to_sentence(two_words_connector: ' or ', last_word_connector: ', or ')
  %span.start_time= feed_item.start_time_to_s
  %span.duration for #{feed_item.duration_to_s}
  - if current_player?(feed_item.player)
    = link_to 'delete', feed_item, method: :delete,
                                   data: { confirm: 'You sure?' },
                                   title: feed_item.start_time_to_s
