= render 'shared/error_messages', object: f.object

= f.label :name
= f.text_field :name

= f.label :street_address
= f.text_field :street_address

= f.label :city_id, 'City'
= f.select :city_id, options_from_collection_for_select(City.all, :id, :name, @field.city && @field.city.id) 

= f.label :zip_code
= f.text_field :zip_code

= f.label :notes
= f.text_area :notes, rows: 5


