- provide :title, 'Fields'
%p= gmaps4rails(@field_markers) if !Rails.env.test?
.row
  .span4
    Choose cities near you:
    = form_tag fields_path, method: 'get' do 
      .field.field_options
        -#= hidden_field_tag "city_ids[]", nil
        - City.all.each do |city|
          .checkbox
            = check_box_tag "city_ids[]", city.id, @cities.include?(city.id.to_s), id: dom_id(city)
            = label_tag dom_id(city), city.name
        = submit_tag 'Refine', class: 'btn btn-primary'
    - if signed_in? && current_player.admin?
      = link_to 'Add field', new_field_path
    - else
      Want to add a field? 
      = succeed '.' do
        %a{href: 'mailto:donny@pushpickup.com'} Let me know
  .span8
    %p 
      Choose a field near you:
      %ul.fields= render @fields


