- provide :title, 'Find fields'
%h1 Find fields
.row
  .span4
    = form_tag fields_path, method: 'get' do 
      = label_tag :city_id, 'Select one or more cities'
      = select_tag :city_id, options_from_collection_for_select(City.all, :id, :name, @cities), 
                   multiple: true, size: 10
      = submit_tag 'Find', class: 'btn btn-primary'
    - if current_player.admin?
      = link_to 'Add field', new_field_path
  .span8
    %p.text-info Select one or more fields 
    = form_tag availabilities_path, method: 'post' do
      = hidden_field_tag "availability[field_ids][]", nil
      = submit_tag 'Choose field(s)', class: 'btn btn-large btn-primary'
      %ul.fields
        = render @fields
      = submit_tag 'Choose field(s)', class: 'btn btn-large btn-primary'


